.list-item {
    &-collapse {
        color: @text-color;
        display: block;
        font-size: 30px;
        font-weight: 100;
        &:before{
            background: url("../images/bullet-plus.png");
            content: "";
            display: inline-block;
            height: 29px;
            margin-right: 10px;
            vertical-align: sub;
            width: 29px;;

        }
        &.expanded&:before{
            background: url("../images/bullet-minus.png");
        }
    }
    &-collapsed {
        display: none;
        border-bottom: @green-color 1px solid;
        margin-bottom: 30px;
    }
}