@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Light.eot');
	src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Light.woff') format('woff'),
		url('../fonts/SegoeUI-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
/*
@font-face {
	font-family: 'Segoe UI Semilight';
	src: url('../fonts/SegoeUI-SemilightItalic.eot');
	src: url('../fonts/SegoeUI-SemilightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-SemilightItalic.woff') format('woff'),
		url('../fonts/SegoeUI-SemilightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Bold.eot');
	src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Bold.woff') format('woff'),
		url('../fonts/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Semilight';
	src: url('../fonts/SegoeUI-Semilight.eot');
	src: url('../fonts/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Semilight.woff') format('woff'),
		url('../fonts/SegoeUI-Semilight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Semibold.eot');
	src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Semibold.woff') format('woff'),
		url('../fonts/SegoeUI-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Italic.eot');
	src: url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Italic.woff') format('woff'),
		url('../fonts/SegoeUI-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-SemiboldItalic.eot');
	src: url('../fonts/SegoeUI-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-SemiboldItalic.woff') format('woff'),
		url('../fonts/SegoeUI-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-BoldItalic.eot');
	src: url('../fonts/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-BoldItalic.woff') format('woff'),
		url('../fonts/SegoeUI-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-LightItalic.eot');
	src: url('../fonts/SegoeUI-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-LightItalic.woff') format('woff'),
		url('../fonts/SegoeUI-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}*/