#footer{
    @tiled-height: 105px;
    @padding-top: 40px;
    background-color: @gray-lighter;
    margin-top: @tiled-height;
    padding-top: @padding-top;
    p{
        text-align: center;
        color: @gray-light;
    }
    a{
        color: @gray-light;
        &:hover{
            color: @gray;
        }
    }
    .row{
        padding-bottom: @padding-top;
        
    }

    &:before{
        margin-bottom: -@tiled-height;
        background: url("../images/footer-tiled.png") repeat-x scroll center top rgba(0, 0, 0, 0);
        height: @tiled-height;
        content: '';
        width: 100%;
        display:block;
        position: relative;
        top: -@tiled-height - @padding-top;
    }
}