#header{
    &, .header-bg{
        background: url("../images/headers/header-1.png") repeat-x scroll center top rgba(0, 0, 0, 0);
    }
    .header-bg{
        margin-top: -1px;
        height: 253px;
        position: relative;
        .container{

            h1{
                bottom: 10px;
                color: #fff;
                font-size: 55px;
                font-weight: 300;
                position: absolute;
                text-transform: uppercase;
            }
        }
    }
}