@mpbase: @padding-small-vertical;
@mpxs: @mpbase;
@mpsm: @mpbase*2;
@mp: @mpbase*3;
@mplg: @mpbase*6;
@mpxl: @mpbase*10;
@mpxxl: @mpbase*15;
@mpxxxl: @mpbase*20;
@mpxxxxl: @mpbase*25;

.mp(@prefix: ''; @value: 0; @screen: '';){
    @rulem1: ~".@{screen}m@{prefix}"; @{rulem1} { margin: @value  !important;}
    @rulep1: ~".@{screen}p@{prefix}"; @{rulep1} { padding: @value  !important;}

    @rulem2: ~".@{screen}m-t@{prefix}"; @{rulem2} { margin-top: @value  !important;}
    @rulep2: ~".@{screen}p-t@{prefix}"; @{rulep2} { padding-top: @value  !important;}

    @rulem3: ~".@{screen}m-b@{prefix}"; @{rulem3} { margin-bottom: @value  !important;}
    @rulep3: ~".@{screen}p-b@{prefix}"; @{rulep3} { padding-bottom: @value  !important;}

    @rulem4: ~".@{screen}m-l@{prefix}"; @{rulem4} { margin-left: @value  !important;}
    @rulep4: ~".@{screen}p-l@{prefix}"; @{rulep4} { padding-left: @value  !important;}

    @rulem5: ~".@{screen}m-r@{prefix}"; @{rulem5} { margin-right: @value  !important;}
    @rulep5: ~".@{screen}p-r@{prefix}"; @{rulep5} { padding-right: @value  !important;}

    @rulem6: ~".@{screen}m-v@{prefix}"; @{rulem6} { margin-top: @value  !important; margin-bottom: @value  !important;}
    @rulep6: ~".@{screen}p-v@{prefix}"; @{rulep6} { padding-top: @value  !important; padding-bottom: @value  !important;}

    @rulem7: ~".@{screen}m-h@{prefix}"; @{rulem7} { margin-left: @value  !important; margin-right: @value  !important;}
    @rulep7: ~".@{screen}p-h@{prefix}"; @{rulep7} { padding-left: @value  !important; padding-right: @value  !important;}
}
.mprules(@screen: ''){
    .mp('-n', 0, @screen);
    .mp('-xs', @mpxs, @screen);
    .mp('-xs-', -@mpxs, @screen);
    .mp('-sm', @mpsm, @screen);
    .mp('-sm-', -@mpsm, @screen);
    .mp('', @mp, @screen);
    .mp('-', -@mp, @screen);
    .mp('-lg', @mplg, @screen);
    .mp('-lg-', -@mplg, @screen);
    .mp('-xl', @mpxl, @screen);
    .mp('-xl-', -@mpxl, @screen);
    .mp('-xxl', @mpxxl, @screen);
    .mp('-xxl-', -@mpxxl, @screen);
    .mp('-xxxl', @mpxxxl, @screen);
    .mp('-xxxl-', -@mpxxxl, @screen);
    .mp('-xxxxl', @mpxxxxl, @screen);
    .mp('-xxxxl-', -@mpxxxxl, @screen);
}
.mprules();
@media (max-width: @screen-xs-max) { // 
    .mprules('xs-');
}
@media (min-width: @screen-sm-min) { // 
    .mprules('sm-');
}
@media (min-width: @screen-md-min) { // 
    .mprules('md-');
}
@media (min-width: @screen-lg-min) { // 
    .mprules('lg-');
}
