#navbar{
    .navbar-brand{
        img{
            margin-top: -28px;
        }
    }

    @media (min-width: @grid-float-breakpoint) {
        .navbar-nav > li {
            > a {
                margin-top: @navbar-padding-vertical - @navbar-padding-horizontal;
                margin-bottom: @navbar-padding-vertical - @navbar-padding-horizontal;
                padding-top:    @navbar-padding-horizontal;
                padding-bottom: @navbar-padding-horizontal;

            }
            .dropdown-menu{
                margin-top: -(@navbar-padding-vertical - @navbar-padding-horizontal);
            }

        }
    }
}